DEPLOY_PUBLISH_HOST=user@host
DEPLOY_PUBLISH_PATH=/var/www/firmware
DEPLOY_PROJECT=skylights
DEPLOY_MQTT_BROKER=broker
# optional
DEPLOY_MQTT_PORT=1883
DEPLOY_MQTT_USER=user
DEPLOY_MQTT_PASSWORD=secret
# DEPLOY_TRIGGER_TOPIC=skylight/reset
# DEPLOY_TRIGGER_PAYLOAD=reset
